@model Infraestructure.Models.CUADRACICLO

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:5%">

    <h2>Editar</h2>

    @using (Html.BeginForm("Save", "Cuadra", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Cuadraciclo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_CUADRACICLO)

            <div class="form-group">
                @Html.LabelFor(model => model.ID_MARCA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ID_MARCA, (SelectList)ViewBag.idMarca, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_MARCA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TARIFA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TARIFA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TARIFA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.INVENTARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.INVENTARIO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INVENTARIO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EXTRA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("selectedExtras", (MultiSelectList)ViewBag.IdExtra, new { htmlAttributes = new { @class = "form-control" }, multiple = "multiple" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FOTO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="image" class="img-fluid rounded" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.FOTO)" id="ImagenProducto">

                    @Html.HiddenFor(model => model.FOTO)
                    @Html.ValidationMessageFor(model => model.FOTO, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar", "IndexAdmin")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
