@model Infraestructure.Models.SERVICIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:5%">
    <h2>Detalle</h2>
    <h4>Tours</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3><strong class="d-inline-block mb-2 text-primary"> @Html.DisplayFor(model => model.DESCRIPCION) </strong></h3>

                    <p class="card-text mb-auto">
                        <b>@Html.DisplayNameFor(model => model.PRECIO):</b> &cent; @Html.DisplayFor(model => model.PRECIO)<br />
                        <b>@Html.DisplayNameFor(model => model.DURACION):</b> @Html.DisplayFor(model => model.DURACION)  hrs<br />
                    </p>

                </div>
                <div class="col-auto d-none d-lg-block">
                    @*<img class="img-fluid rounded" src="~/Img/Tours.jpg" />*@
                    <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.FOTO)" role="img" alt="SERVICIO @Html.DisplayNameFor(model => model.ID_SERVICIO)" class="img-fluid rounded">

                </div>
            </div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.ID_SERVICIO }) |
                @Html.ActionLink("Regresar", "IndexAdmin")
            </p>
        </div>
    </div>
</div>
